body {
  margin: 0;
}

.test-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > div {
    margin-bottom: 20px;
  }
  > span {
    margin-bottom: 10px;
  }
}
